/* ::::: http://speed.travian.de/gpack/travian_default/lang/de/lang.css?2ee23 ::::: */

img#btn_plus { width: 80px; height: 67px; background-image: url('plus.gif'); background-position: 0px -21px; }
input#btn_ok { width: 47px; background-image: url('ok.gif'); }
div#side_navi a#logo img { width: 116px; height: 60px; background-image: url('travian0.gif'); }
/* ::::: http://speed.travian.de/gpack/travian_default/lang/de/compact.css?2ee23 ::::: */

body { text-align: left; direction: ltr; margin: 0pt; background-color: rgb(255, 255, 255); }
img { border: 0pt none; }
h1, h2, span, form, img, li { margin: 0pt; padding: 0pt; }
h1 { margin-bottom: 8px; }
p { margin: 14px 0pt; padding: 0pt; }
#msfilter { width: 1px; height: 1px; position: absolute; z-index: 99; }
div#header { width: 100%; min-width: 980px; height: 67px; }
div#mid { float: left; width: 100%; min-width: 980px; margin-bottom: 15px; }
div#content { float: left; min-height: 450px; position: relative; overflow: hidden; }
div.map { width: 552px; padding: 43px 0pt 0pt; }
div.clear { clear: both; width: 0pt; height: 0pt; }
table { margin: 0pt; }
td.aligned_coords { width: 84px; padding: 2px 0pt; white-space: nowrap; }
td.aligned_coords div { float: left; }
td.aligned_coords div.cox { width: 38px; text-align: right; }
td.aligned_coords div.pi { width: 8px; text-align: center; }
td.aligned_coords div.coy { width: 38px; text-align: left; }
div#ce { position: fixed; left: 0pt; top: 0pt; z-index: 999; }
div#ltime { width: 220px; height: 15px; position: absolute; top: 42px; left: 5px; z-index: 3; }
div#dynamic_header { width: 100%; min-width: 980px; height: 28px; background-color: rgb(116, 114, 115); overflow: hidden; }
body.mod2 div#dynamic_header { height: 100px; }
body.mod2 div#dynamic_header div.dyn1 { min-width: 900px; width: 100%; height: 100px; }
body.mod2 iframe#ad_iframe { position: absolute; left: 82px; top: 0pt; width: 728px; height: 90px; z-index: 10; }
body.mod2 div#ltime { top: 113px; }
body.mod2 div#res { top: 167px; }
div#mtop { width: 570px; height: 67px; position: relative; left: 231px; top: -7px; }
div#mtop a#n1, div#mtop a#n2, div#mtop a#n3, div#mtop a#n4, div#mtop div#n5 { float: left; padding: 0pt; margin: 0pt; }
div#mtop div#n5 a { float: left; }
div#mtop a#plus { float: left; padding: 0pt; margin-left: 115px; }
div#mtop a#plus span { display: none; }
div#side_navi { float: left; width: 130px; position: relative; }
div#side_navi p { margin: 0pt 0pt 28px; line-height: 20px; }
div#side_navi p a { padding-left: 12px; display: block; }
div#side_info { float: left; padding-left: 10px; padding-top: 5px; position: relative; }
div#footer { width: 100%; clear: both; }
div#footer div#mfoot { width: 812px; padding-top: 15px; padding-bottom: 30px; text-align: center; }
div#footer div#mfoot div.copyright { direction: ltr; }
div#res { left: 130px; height: 20px; position: absolute; top: 100px; width: 552px; z-index: 3; }
div#res table { background-color: rgb(255, 255, 255); margin: auto; width: auto; }
div#res table td { padding: 1px; }
div#res table img { margin-left: 5px; }
div.map h1 { margin-left: 25px; }
div#map { position: relative; }
div.map div#map { width: 552px; height: 375px; top: -26px; }
div#map div#map_content { position: relative; }
div.map div#map div#map_content { width: 540px; height: 316px; left: 5px; top: 33px; }
div#map div#map_content div { width: 74px; height: 74px; position: absolute; }
div#map img#map_links { position: absolute; }
div.map div#map img#map_links { width: 540px; height: 316px; left: 5px; top: 33px; z-index: 50; }
div#map img#map_navibox { position: absolute; z-index: 50; }
div.map div#map img#map_navibox { right: 20px; bottom: 0pt; }
div#map div#map_rulers { position: absolute; }
div#map div#map_rulers div { width: 35px; height: 12px; text-align: center; position: absolute; }
div#map div#map_coords { width: 180px; height: 30px; position: absolute; line-height: 20px; z-index: 50; vertical-align: top; }
div.map div#map div#map_coords { bottom: 26px; left: 30px; }
div#map div#map_coords span, div#map div#map_coords input { float: left; margin-right: 5px; }
div#map div#map_coords input.text { width: 28px; margin-right: 8px; }
div#map table#map_infobox { position: absolute; z-index: 50; }
div.map div#map table#map_infobox { top: -7px; right: 20px; }
div.map div.cropfinder_icon { z-index: 100; position: absolute; left: 493px; top: 312px; }
div.map div#map div#map_content div#i_0_0 { z-index: 1; left: 16px; top: 104px; }
div.map div#map div#map_content div#i_0_1 { z-index: 2; left: 52px; top: 84px; }
div.map div#map div#map_content div#i_0_2 { z-index: 3; left: 88px; top: 64px; }
div.map div#map div#map_content div#i_0_3 { z-index: 4; left: 124px; top: 44px; }
div.map div#map div#map_content div#i_0_4 { z-index: 5; left: 160px; top: 24px; }
div.map div#map div#map_content div#i_0_5 { z-index: 6; left: 196px; top: 4px; }
div.map div#map div#map_content div#i_0_6 { z-index: 7; left: 232px; top: -16px; }
div.map div#map div#map_content div#i_1_0 { z-index: 2; left: 53px; top: 124px; }
div.map div#map div#map_content div#i_1_1 { z-index: 2; left: 89px; top: 104px; }
div.map div#map div#map_content div#i_1_2 { z-index: 3; left: 125px; top: 84px; }
div.map div#map div#map_content div#i_1_3 { z-index: 4; left: 161px; top: 64px; }
div.map div#map div#map_content div#i_1_4 { z-index: 5; left: 197px; top: 44px; }
div.map div#map div#map_content div#i_1_5 { z-index: 6; left: 233px; top: 24px; }
div.map div#map div#map_content div#i_1_6 { z-index: 7; left: 269px; top: 4px; }
div.map div#map div#map_content div#i_2_0 { z-index: 3; left: 90px; top: 144px; }
div.map div#map div#map_content div#i_2_1 { z-index: 3; left: 126px; top: 124px; }
div.map div#map div#map_content div#i_2_2 { z-index: 3; left: 162px; top: 104px; }
div.map div#map div#map_content div#i_2_3 { z-index: 4; left: 198px; top: 84px; }
div.map div#map div#map_content div#i_2_4 { z-index: 5; left: 234px; top: 64px; }
div.map div#map div#map_content div#i_2_5 { z-index: 6; left: 270px; top: 44px; }
div.map div#map div#map_content div#i_2_6 { z-index: 7; left: 306px; top: 24px; }
div.map div#map div#map_content div#i_3_0 { z-index: 4; left: 127px; top: 164px; }
div.map div#map div#map_content div#i_3_1 { z-index: 4; left: 163px; top: 144px; }
div.map div#map div#map_content div#i_3_2 { z-index: 4; left: 199px; top: 124px; }
div.map div#map div#map_content div#i_3_3 { z-index: 4; left: 235px; top: 104px; }
div.map div#map div#map_content div#i_3_4 { z-index: 5; left: 271px; top: 84px; }
div.map div#map div#map_content div#i_3_5 { z-index: 6; left: 307px; top: 64px; }
div.map div#map div#map_content div#i_3_6 { z-index: 7; left: 343px; top: 44px; }
div.map div#map div#map_content div#i_4_0 { z-index: 5; left: 164px; top: 184px; }
div.map div#map div#map_content div#i_4_1 { z-index: 5; left: 200px; top: 164px; }
div.map div#map div#map_content div#i_4_2 { z-index: 5; left: 236px; top: 144px; }
div.map div#map div#map_content div#i_4_3 { z-index: 5; left: 272px; top: 124px; }
div.map div#map div#map_content div#i_4_4 { z-index: 5; left: 308px; top: 104px; }
div.map div#map div#map_content div#i_4_5 { z-index: 6; left: 344px; top: 84px; }
div.map div#map div#map_content div#i_4_6 { z-index: 7; left: 380px; top: 64px; }
div.map div#map div#map_content div#i_5_0 { z-index: 6; left: 201px; top: 204px; }
div.map div#map div#map_content div#i_5_1 { z-index: 6; left: 237px; top: 184px; }
div.map div#map div#map_content div#i_5_2 { z-index: 6; left: 273px; top: 164px; }
div.map div#map div#map_content div#i_5_3 { z-index: 6; left: 309px; top: 144px; }
div.map div#map div#map_content div#i_5_4 { z-index: 6; left: 345px; top: 124px; }
div.map div#map div#map_content div#i_5_5 { z-index: 6; left: 381px; top: 104px; }
div.map div#map div#map_content div#i_5_6 { z-index: 7; left: 417px; top: 84px; }
div.map div#map div#map_content div#i_6_0 { z-index: 7; left: 238px; top: 224px; }
div.map div#map div#map_content div#i_6_1 { z-index: 7; left: 274px; top: 204px; }
div.map div#map div#map_content div#i_6_2 { z-index: 7; left: 310px; top: 184px; }
div.map div#map div#map_content div#i_6_3 { z-index: 7; left: 346px; top: 164px; }
div.map div#map div#map_content div#i_6_4 { z-index: 7; left: 382px; top: 144px; }
div.map div#map div#map_content div#i_6_5 { z-index: 7; left: 418px; top: 124px; }
div.map div#map div#map_content div#i_6_6 { z-index: 7; left: 454px; top: 104px; }
div.map div#map div#map_rulers { width: 540px; height: 316px; left: 5px; top: 34px; z-index: 30; }
div.map div#map div#map_rulers #mx0 { left: 9px; top: 172px; }
div.map div#map div#map_rulers #mx1 { left: 45px; top: 192px; }
div.map div#map div#map_rulers #mx2 { left: 81px; top: 212px; }
div.map div#map div#map_rulers #mx3 { left: 117px; top: 232px; }
div.map div#map div#map_rulers #mx4 { left: 153px; top: 252px; }
div.map div#map div#map_rulers #mx5 { left: 189px; top: 272px; }
div.map div#map div#map_rulers #mx6 { left: 225px; top: 292px; }
div.map div#map div#map_rulers #my0 { left: 9px; top: 128px; }
div.map div#map div#map_rulers #my1 { left: 45px; top: 108px; }
div.map div#map div#map_rulers #my2 { left: 81px; top: 88px; }
div.map div#map div#map_rulers #my3 { left: 117px; top: 68px; }
div.map div#map div#map_rulers #my4 { left: 153px; top: 48px; }
div.map div#map div#map_rulers #my5 { left: 189px; top: 28px; }
div.map div#map div#map_rulers #my6 { left: 225px; top: 8px; }
div.map table#raidFavs { margin: 0pt auto; }
.b { font-weight: bold; }
input.text, select.dropdown, textarea { border: 1px solid rgb(113, 208, 0); padding: 2px 3px; margin: 0pt; }
table { border-collapse: separate; background-color: rgb(192, 192, 192); line-height: 16px; width: 100%; empty-cells: show; }
table td, table th { vertical-align: middle; padding: 0pt; }
table thead th, table tfoot th { background-image: url('c2.gif'); background-repeat: repeat; text-align: center; }
table thead td, table tfoot td { background-color: rgb(243, 243, 243); text-align: center; }
table tbody th, table tbody td { background-color: rgb(255, 255, 255); text-align: left; }
div#side_info table { width: auto; background-color: rgb(255, 255, 255); }
div#side_info table td { padding: 0pt; line-height: 18px; text-align: left; white-space: nowrap; }
div#side_info table thead td { background-color: rgb(255, 255, 255); height: 22px; }
div#side_info td.dot { width: 10px; padding: 0pt 6px; }
div#side_info td.link { padding-right: 10px; }
div#map table#map_infobox { width: 170px; line-height: 19px; }
div#map table#map_infobox th, div#map table#map_infobox td { line-height: 15px; padding: 1px 5px; }
div#map table#map_infobox thead th { text-align: center; }
div#map table#map_infobox tbody th { width: 45%; }
div#map table.default, div#map table.empty, div#map table.oasis_empty { background-color: rgb(240, 240, 240); }
div#map table.default thead th, div#map table.empty thead th, div#map table.oasis_empty thead th { background-image: none; background-color: rgb(255, 255, 255); }
div.map table#raidFavs { width: 502px; }
div.map table#raidFavs thead td { white-space: nowrap; }
div.map table#raidFavs th, div.map table#raidFavs td { padding: 2px 7px; text-align: center; }
div.map table#raidFavs td.lost { width: 10%; }
body { color: rgb(0, 0, 0); font-size: 13px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; }
a { text-decoration: none; font-weight: bold; color: rgb(113, 208, 0); }
a:visited { color: rgb(113, 208, 0); }
a:active { color: rgb(255, 128, 0); }
a:hover { color: rgb(0, 188, 0); }
h1 { font-size: 24px; }
div#header { font-size: 0pt; }
table td, table th { font-weight: normal; font-size: 13px; }
table thead th, table tfoot th { font-weight: bold; }
input.text, select.dropdown, textarea { font-size: 11px; font-family: Verdana,Arial,Helvetica,sans-serif; }
.none { color: rgb(192, 192, 192); }
span.plus_g { color: rgb(113, 208, 0); font-weight: bold; }
span.plus_o { color: rgb(255, 111, 15); font-weight: bold; }
div#ltime { color: rgb(102, 102, 102); font-size: 10px; }
div#mtop { font-size: 0pt; }
div#side_navi { font-size: 13px; }
div#side_navi p { font-size: 12px; }
div#side_navi p a { font-weight: normal; color: rgb(0, 0, 0); }
div#side_navi p a:hover { color: rgb(0, 192, 0); }
div#side_info table thead td a { font-weight: bold; color: black; }
div#side_info table tbody td { font-size: 11px; }
div#side_info td.hl { color: rgb(255, 128, 0); }
div#side_info td.link { font-size: 13px; }
div#footer div#mfoot { font-size: 11px; color: rgb(102, 102, 102); }
div#footer div#mfoot a { color: rgb(102, 102, 102); text-decoration: none; font-weight: normal; }
div#footer div#mfoot a:visited, div#footer div#mfoot a:active { color: rgb(102, 102, 102); }
div#footer div#mfoot a:hover { color: rgb(0, 192, 0); }
div#map div#map_rulers div { font-size: 10px; }
div#map div#map_coords { font-weight: bold; }
div#map table#map_infobox th, div#map table#map_infobox td { font-size: 11px; }
div#map table.default th, div#map table.default td, div#map table.empty th, div#map table.empty td, div#map table.oasis_empty th, div#map table.oasis_empty td { color: rgb(192, 192, 192); }
div.map table#raidFavs td.none a { font-weight: normal; color: rgb(192, 192, 192); }
div.map table#raidFavs thead a { font-weight: normal; color: black; }
img, a, div { background-repeat: no-repeat; background-position: left top; }
input.dynamic_img, img.dynamic_img { background-position: center top; height: 20px; }
img.r1, img.r2, img.r3, img.r4, img.r5 { height: 12px; width: 18px; background-image: url('res2.gif'); }
img.r1 { background-position: 0pt 0pt; }
img.r2 { background-position: -21px 0pt; }
img.r3 { background-position: -42px 0pt; }
img.r4 { background-position: -63px 0pt; }
img.r5 { background-position: -84px 0pt; }
img.cropfinder_icon { width: 20px; height: 20px; background-image: url('cropfinder.gif'); }
div#side_info table thead td img.tSwitch { width: 13px; height: 13px; }
table#llist img.opened, table#vlist img.opened { background-image: url('opened.gif'); }
div#header { background-image: url('mw.gif'); background-repeat: repeat-x; background-position: 0pt -28px; }
div#mid { background-image: url('rand.gif'); background-repeat: repeat-y; background-position: left 0pt; }
div#footer { background-image: url('btm.gif'); background-repeat: repeat-x; }
div#side_navi a:hover { background-image: url('n12.gif'); width: 113px; height: 20px; }
div#side_navi a#logo:hover { background: none repeat scroll 0% 0% transparent; }
div.map div#map div#map_content { background-image: url('map.jpg'); background-position: 2px 0pt; }
div#dynamic_header { background-image: url('dyn_bg1.jpg'); background-position: -80px -50px; }
body.mod1 div#dynamic_header, body.mod2 div#dynamic_header { background-image: none; }
body.mod2 div#dynamic_header div.dyn1 { background-image: url('bigsize_bg.jpg'); background-position: -100px 0pt; }
a#n1 img, a#n2 img, a#n3 img, a#n4 img, div#n5 { background-position: 0pt -21px; background-repeat: no-repeat; height: 67px; width: 70px; }
body.v35 a#n1 img { background-image: url('n1.gif'); }
body.v35 a#n2 img { background-image: url('n2.gif'); }
body.v35 a#n3 img { background-image: url('n3.gif'); }
body.v35 a#n4 img { background-image: url('n4.gif'); }
a#n1:hover img, a#n2:hover img, a#n3:hover img, a#n4:hover img { background-position: 0pt -121px; }
div#n5 img { height: 67px; width: 35px; }
body.v35 div.i4 { background-image: url('m4.gif'); }
div#map div#map_content div.b10 { background-image: url('d10.gif'); }
div#map div#map_content div.b14 { background-image: url('d14.gif'); }
div#map div#map_content div.b24 { background-image: url('d24.gif'); }
div#map div#map_content div.b30 { background-image: url('d30.gif'); }
div#map div#map_content div.b33 { background-image: url('d33.gif'); }
div#map div#map_content div.b34 { background-image: url('d34.gif'); }
div#map div#map_content div.o5 { background-image: url('o5.gif'); }
div#map div#map_content div.o9 { background-image: url('o9.gif'); }
div#map div#map_content div.o10 { background-image: url('o10.gif'); }
div#map div#map_content div.t0 { background-image: url('t0.gif'); }
div#map div#map_content div.t2 { background-image: url('t2.gif'); }
div#map div#map_content div.t4 { background-image: url('t4.gif'); }
div#map div#map_content div.t5 { background-image: url('t5.gif'); }
div#map div#map_content div.t6 { background-image: url('t6.gif'); }
div#map div#map_content div.t7 { background-image: url('t7.gif'); }
div#map div#map_content div.t8 { background-image: url('t8.gif'); }
div#map div#map_content div.t9 { background-image: url('t9.gif'); }
div#map img#map_navibox { width: 100px; height: 60px; background-image: url('dir.gif'); }
/* ::::: http://speed.travian.de/img/travian_basics.css ::::: */

