/* ::::: http://speed.travian.de/gpack/travian_0007/lang/de/lang.css?c8021 ::::: */

img#btn_plus { width: 80px; height: 67px; background-image: url('plus.gif'); background-position: 0px -21px; }
div#side_navi a#logo img { width: 116px; height: 60px; background-image: url('travian0.gif'); }
/* ::::: http://speed.travian.de/gpack/travian_0007/lang/de/compact.css?c8021 ::::: */

body { text-align: left; direction: ltr; margin: 0pt; background-color: rgb(255, 255, 255); }
img { border: 0pt none; }
h1, h2, span, form, img, li { margin: 0pt; padding: 0pt; }
h1 { margin-bottom: 8px; }
p { margin: 14px 0pt; padding: 0pt; }
#msfilter { width: 1px; height: 1px; position: absolute; z-index: 99; }
div#header { width: 100%; min-width: 980px; height: 67px; }
div#mid { float: left; width: 100%; min-width: 980px; margin-bottom: 15px; }
div#content { float: left; min-height: 450px; position: relative; overflow: hidden; }
div.village1 { width: 537px; padding: 43px 0pt 0pt 15px; }
div.clear { clear: both; width: 0pt; height: 0pt; }
table { margin: 0pt; }
td.aligned_coords { width: 84px; padding: 2px 0pt; white-space: nowrap; }
td.aligned_coords div { float: left; }
td.aligned_coords div.cox { width: 38px; text-align: right; }
td.aligned_coords div.pi { width: 8px; text-align: center; }
td.aligned_coords div.coy { width: 38px; text-align: left; }
div#ce { position: fixed; left: 0pt; top: 0pt; z-index: 999; }
div#ltime { width: 220px; height: 15px; position: absolute; top: 42px; left: 5px; z-index: 3; }
div#dynamic_header { width: 100%; min-width: 980px; height: 28px; background-color: rgb(116, 114, 115); overflow: hidden; }
body.mod2 div#dynamic_header { height: 100px; }
body.mod2 div#dynamic_header div.dyn1 { min-width: 900px; width: 100%; height: 100px; }
body.mod2 iframe#ad_iframe { position: absolute; left: 82px; top: 0pt; width: 728px; height: 90px; z-index: 10; }
body.mod2 div#ltime { top: 113px; }
body.mod2 div#res { top: 167px; }
div#mtop { width: 570px; height: 67px; position: relative; left: 231px; top: -7px; }
div#mtop a#n1, div#mtop a#n2, div#mtop a#n3, div#mtop a#n4, div#mtop div#n5 { float: left; padding: 0pt; margin: 0pt; }
div#mtop div#n5 a { float: left; }
div#mtop a#plus { float: left; padding: 0pt; margin-left: 115px; }
div#mtop a#plus span { display: none; }
div#side_navi { float: left; width: 130px; position: relative; }
div#side_navi p { margin: 0pt 0pt 28px; line-height: 20px; }
div#side_navi p a { padding-left: 12px; display: block; }
div#side_info { float: left; padding-left: 10px; padding-top: 5px; position: relative; }
div#footer { width: 100%; clear: both; }
div#footer div#mfoot { width: 812px; padding-top: 15px; padding-bottom: 30px; text-align: center; }
div#footer div#mfoot div.copyright { direction: ltr; }
div#res { left: 130px; height: 20px; position: absolute; top: 100px; width: 552px; z-index: 3; }
div#res table { background-color: rgb(255, 255, 255); margin: auto; width: auto; }
div#res table td { padding: 1px; }
div#res table img { margin-left: 5px; }
div.village1 h1 { left: 10px; height: 29px; position: relative; z-index: 500; }
div.village1 h1 div { float: left; }
div.village1 h1 div#loyality { position: absolute; top: 30px; }
div.village1 div#village_map { float: left; width: 300px; height: 264px; position: relative; margin-bottom: 15px; }
div.village1 img#resfeld { width: 300px; height: 264px; position: absolute; z-index: 20; left: 0pt; }
div.village1 img.reslevel { position: absolute; z-index: 10; width: 17px; height: 12px; }
div.village1 img.rf1 { left: 93px; top: 27px; }
div.village1 img.rf2 { left: 156px; top: 26px; }
div.village1 img.rf3 { left: 216px; top: 41px; }
div.village1 img.rf4 { left: 38px; top: 59px; }
div.village1 img.rf5 { left: 130px; top: 67px; }
div.village1 img.rf6 { left: 195px; top: 87px; }
div.village1 img.rf7 { left: 253px; top: 81px; }
div.village1 img.rf8 { left: 23px; top: 111px; }
div.village1 img.rf9 { left: 74px; top: 104px; }
div.village1 img.rf10 { left: 205px; top: 136px; }
div.village1 img.rf11 { left: 260px; top: 139px; }
div.village1 img.rf12 { left: 33px; top: 165px; }
div.village1 img.rf13 { left: 84px; top: 158px; }
div.village1 img.rf14 { left: 151px; top: 178px; }
div.village1 img.rf15 { left: 230px; top: 192px; }
div.village1 img.rf16 { left: 79px; top: 211px; }
div.village1 img.rf17 { left: 132px; top: 223px; }
div.village1 img.rf18 { left: 182px; top: 227px; }
div.village1 div#map_details { float: right; width: 229px; margin-top: -29px; margin-right: 1px; }
div.village1 div#map_details table { margin-bottom: 14px; }
.f8 { font-size: 8pt; }
.b { font-weight: bold; }
table { border-collapse: separate; background-color: rgb(192, 192, 192); line-height: 16px; width: 100%; empty-cells: show; }
table td, table th { vertical-align: middle; padding: 0pt; }
table thead th, table tfoot th { background-image: url('c2.gif'); background-repeat: repeat; text-align: center; }
table thead td, table tfoot td { background-color: rgb(243, 243, 243); text-align: center; }
table tbody th, table tbody td { background-color: rgb(255, 255, 255); text-align: left; }
div#side_info table { width: auto; background-color: rgb(255, 255, 255); }
div#side_info table td { padding: 0pt; line-height: 18px; text-align: left; white-space: nowrap; }
div#side_info table thead td { background-color: rgb(255, 255, 255); height: 22px; }
div#side_info td.dot { width: 10px; padding: 0pt 6px; }
div#side_info td.link { padding-right: 10px; }
div.village1 table { line-height: 19px; background-color: rgb(255, 255, 255); }
div.village1 table thead th { background-image: none; background-color: rgb(255, 255, 255); text-align: left; }
div.village1 table tbody td { padding: 1px 2px; }
div.village1 table td.ico { width: 18px; padding-left: 4px; }
div.village1 table td.num { text-align: right; white-space: nowrap; }
div.village1 table#movements td { padding: 1px 0pt; }
div.village1 table#production td.res { width: 20%; }
div.village1 table#production td.per { width: 40%; }
div.village1 table#troops td.un { width: 80%; }
body { color: rgb(0, 0, 0); font-size: 13px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; }
a { text-decoration: none; font-weight: bold; color: rgb(113, 208, 0); }
a:visited { color: rgb(113, 208, 0); }
a:active { color: rgb(255, 128, 0); }
a:hover { color: rgb(0, 188, 0); }
h1 { font-size: 24px; }
div#header { font-size: 0pt; }
table td, table th { font-weight: normal; font-size: 13px; }
table thead th, table tfoot th { font-weight: bold; }
span.plus_g { color: rgb(113, 208, 0); font-weight: bold; }
span.plus_o { color: rgb(255, 111, 15); font-weight: bold; }
div#ltime { color: rgb(102, 102, 102); font-size: 10px; }
div#mtop { font-size: 0pt; }
div#side_navi { font-size: 13px; }
div#side_navi p { font-size: 12px; }
div#side_navi p a { font-weight: normal; color: rgb(0, 0, 0); }
div#side_navi p a:hover { color: rgb(0, 192, 0); }
div#side_info table thead td a { font-weight: bold; color: black; }
div#side_info table tbody td { font-size: 11px; }
div#side_info td.hl { color: rgb(255, 128, 0); }
div#side_info td.link { font-size: 13px; }
div#footer div#mfoot { font-size: 11px; color: rgb(102, 102, 102); }
div#footer div#mfoot a { color: rgb(102, 102, 102); text-decoration: none; font-weight: normal; }
div#footer div#mfoot a:visited, div#footer div#mfoot a:active { color: rgb(102, 102, 102); }
div#footer div#mfoot a:hover { color: rgb(0, 192, 0); }
div.village1 h1 div#loyality { font-weight: bold; font-size: 9px; }
div.village1 h1 div.gr { color: rgb(34, 139, 34); }
div.village1 table td.num { font-weight: bold; }
img, a, div { background-repeat: no-repeat; background-position: left top; }
img.r1, img.r2, img.r3, img.r4, img.r5 { height: 12px; width: 18px; background-image: url('res2.gif'); }
img.r1 { background-position: 0pt 0pt; }
img.r2 { background-position: -21px 0pt; }
img.r3 { background-position: -42px 0pt; }
img.r4 { background-position: -63px 0pt; }
img.r5 { background-position: -84px 0pt; }
img.unit { width: 16px; height: 16px; }
img.u1, img.u2, img.u3, img.u4, img.u5, img.u6, img.u7, img.u8, img.u9, img.u10 { background-image: url('v1_romans2.gif'); }
img.u1, img.u11, img.u21, img.u31, img.u41, img.u51, img.uhab { background-position: 0pt 0pt; }
img.u2, img.u12, img.u22, img.u32, img.u42, img.u52, img.ucata { background-position: -19px 0pt; }
img.u4, img.u14, img.u24, img.u34, img.u44, img.u54, img.uwall { background-position: -57px 0pt; }
div#header { background-image: url('mw.gif'); background-repeat: repeat-x; background-position: 0pt -28px; }
div#mid { background-image: url('rand.gif'); background-repeat: repeat-y; background-position: left 0pt; }
div#footer { background-image: url('btm.gif'); background-repeat: repeat-x; }
div#side_navi a:hover { background-image: url('n12.gif'); width: 113px; height: 20px; }
div#side_navi a#logo:hover { background: none repeat scroll 0% 0% transparent; }
div#dynamic_header { background-image: url('dyn_bg1.jpg'); background-position: -80px -50px; }
body.mod1 div#dynamic_header, body.mod2 div#dynamic_header { background-image: none; }
body.mod2 div#dynamic_header div.dyn1 { background-image: url('bigsize_bg.jpg'); background-position: -100px 0pt; }
a#n1 img, a#n2 img, a#n3 img, a#n4 img, div#n5 { background-position: 0pt -21px; background-repeat: no-repeat; height: 67px; width: 70px; }
body.v35 a#n1 img { background-image: url('n1.gif'); }
body.v35 a#n2 img { background-image: url('n2.gif'); }
body.v35 a#n3 img { background-image: url('n3.gif'); }
body.v35 a#n4 img { background-image: url('n4.gif'); }
a#n1:hover img, a#n2:hover img, a#n3:hover img, a#n4:hover img { background-position: 0pt -121px; }
div#n5 img { height: 67px; width: 35px; }
body.v35 div.i4 { background-image: url('m4.gif'); }
div.village1 div.f8, div.map img.f8 { background-image: url('f8.jpg'); }
div.village1 div#village_map img.level1, div.village1 div#village_map img.level2, div.village1 div#village_map img.level3, div.village1 div#village_map img.level4, div.village1 div#village_map img.level5, div.village1 div#village_map img.level6, div.village1 div#village_map img.level7, div.village1 div#village_map img.level8, div.village1 div#village_map img.level9, div.village1 div#village_map img.level10 { background-image: url('lvl1_10.gif'); }
div.village1 div#village_map img.level9, div.village1 div#village_map img.level19 { background-position: -136px 0pt; }
div#side_navi img.wm_logo { background: url('wm99.gif') no-repeat scroll 0% 0% transparent; width: 33px; height: 33px; position: absolute; left: 103px; top: -21px; }
/* ::::: http://speed.travian.de/img/travian_basics.css ::::: */

