/* ::::: http://speed.travian.de/gpack/travian_0006/lang/de/lang.css?8ee54 ::::: */

img#btn_plus { width: 80px; height: 67px; background-image: url('plus.gif'); background-position: 0px -21px; }
div#side_navi a#logo img { width: 116px; height: 60px; background-image: url('travian0.gif'); }
/* ::::: http://speed.travian.de/gpack/travian_0006/lang/de/compact.css?8ee54 ::::: */

body { text-align: left; direction: ltr; margin: 0pt; background-color: rgb(255, 255, 255); }
img { border: 0pt none; }
h1, h2, span, form, img, li { margin: 0pt; padding: 0pt; }
h1 { margin-bottom: 8px; }
p { margin: 14px 0pt; padding: 0pt; }
#msfilter { width: 1px; height: 1px; position: absolute; z-index: 99; }
div#header { width: 100%; min-width: 980px; height: 67px; }
div#mid { float: left; width: 100%; min-width: 980px; margin-bottom: 15px; }
div#content { float: left; min-height: 450px; position: relative; overflow: hidden; }
div.build { width: 552px; }
div#build { width: 502px; padding: 43px 25px 0pt; }
div#textmenu { margin: 14px 0pt; }
div.clear { clear: both; width: 0pt; height: 0pt; }
table { margin: 0pt; }
td.aligned_coords { width: 84px; padding: 2px 0pt; white-space: nowrap; }
td.aligned_coords div { float: left; }
td.aligned_coords div.cox { width: 38px; text-align: right; }
td.aligned_coords div.pi { width: 8px; text-align: center; }
td.aligned_coords div.coy { width: 38px; text-align: left; }
div#ce { position: fixed; left: 0pt; top: 0pt; z-index: 999; }
div#ltime { width: 220px; height: 15px; position: absolute; top: 42px; left: 5px; z-index: 3; }
div#dynamic_header { width: 100%; min-width: 980px; height: 28px; background-color: rgb(116, 114, 115); overflow: hidden; }
body.mod2 div#dynamic_header { height: 100px; }
body.mod2 div#dynamic_header div.dyn1 { min-width: 900px; width: 100%; height: 100px; }
body.mod2 iframe#ad_iframe { position: absolute; left: 82px; top: 0pt; width: 728px; height: 90px; z-index: 10; }
body.mod2 div#ltime { top: 113px; }
body.mod2 div#res { top: 167px; }
div#mtop { width: 570px; height: 67px; position: relative; left: 231px; top: -7px; }
div#mtop a#n1, div#mtop a#n2, div#mtop a#n3, div#mtop a#n4, div#mtop div#n5 { float: left; padding: 0pt; margin: 0pt; }
div#mtop div#n5 a { float: left; }
div#mtop a#plus { float: left; padding: 0pt; margin-left: 115px; }
div#mtop a#plus span { display: none; }
div#side_navi { float: left; width: 130px; position: relative; }
div#side_navi p { margin: 0pt 0pt 28px; line-height: 20px; }
div#side_navi p a { padding-left: 12px; display: block; }
div#side_info { float: left; padding-left: 10px; padding-top: 5px; position: relative; }
div#footer { width: 100%; clear: both; }
div#footer div#mfoot { width: 812px; padding-top: 15px; padding-bottom: 30px; text-align: center; }
div#footer div#mfoot div.copyright { direction: ltr; }
div#res { left: 130px; height: 20px; position: absolute; top: 100px; width: 552px; z-index: 3; }
div#res table { background-color: rgb(255, 255, 255); margin: auto; width: auto; }
div#res table td { padding: 1px; }
div#res table img { margin-left: 5px; }
div#build a.build_logo img { margin-left: 5px; position: absolute; right: 13px; top: 35px; }
div#build p.build_desc { padding-right: 70px; }
div#build a.build_logo img.g16 { top: 45px; }
div#build.gid16 div#textmenu { white-space: nowrap; position: relative; }
div#build.gid16 div#textmenu a { background-color: rgb(255, 255, 255); }
div#build.gid16 h4 { margin-top: 20px; }
div#build.gid16 table.troop_details { margin-bottom: 15px; }
.b { font-weight: bold; }
table { border-collapse: separate; background-color: rgb(192, 192, 192); line-height: 16px; width: 100%; empty-cells: show; }
table td, table th { vertical-align: middle; padding: 0pt; }
table thead td, table tfoot td { background-color: rgb(243, 243, 243); text-align: center; }
table tbody th, table tbody td { background-color: rgb(255, 255, 255); text-align: left; }
div#side_info table { width: auto; background-color: rgb(255, 255, 255); }
div#side_info table td { padding: 0pt; line-height: 18px; text-align: left; white-space: nowrap; }
div#side_info table thead td { background-color: rgb(255, 255, 255); height: 22px; }
div#side_info td.dot { width: 10px; padding: 0pt 6px; }
div#side_info td.link { padding-right: 10px; }
div#build p#contract { line-height: 19px; }
div#build.gid16 table.troop_details th, div#build.gid16 table.troop_details td { padding: 2px 7px; }
div#build.gid16 table.troop_details th { width: 20%; }
div#build.gid16 table.troop_details tbody.units td { text-align: center; width: 7.2%; padding: 2px; }
div#build.gid16 table.troop_details tbody.infos th, div#build.gid16 table.troop_details tbody.infos td { background-color: rgb(243, 243, 243); }
div#build.gid16 table.troop_details div { width: 50%; float: left; text-align: center; }
div#build.gid16 table.troop_details div.sup { text-align: left; }
div#build.gid16 table.troop_details div.sback { text-align: right; }
div#build.gid16 table.troop_details div.gback { text-align: right; }
body { color: rgb(0, 0, 0); font-size: 13px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; }
a { text-decoration: none; font-weight: bold; color: rgb(113, 208, 0); }
a:visited { color: rgb(113, 208, 0); }
a:active { color: rgb(255, 128, 0); }
a:hover { color: rgb(0, 188, 0); }
h1 { font-size: 24px; }
div#header { font-size: 0pt; }
table td, table th { font-weight: normal; font-size: 13px; }
div#textmenu { font-size: 13px; font-weight: normal; }
.none { color: rgb(192, 192, 192); }
span.plus_g { color: rgb(113, 208, 0); font-weight: bold; }
span.plus_o { color: rgb(255, 111, 15); font-weight: bold; }
div#ltime { color: rgb(102, 102, 102); font-size: 10px; }
div#mtop { font-size: 0pt; }
div#side_navi { font-size: 13px; }
div#side_navi p { font-size: 12px; }
div#side_navi p a { font-weight: normal; color: rgb(0, 0, 0); }
div#side_navi p a:hover { color: rgb(0, 192, 0); }
div#side_info table thead td a { font-weight: bold; color: black; }
div#side_info table tbody td { font-size: 11px; }
div#side_info td.hl { color: rgb(255, 128, 0); }
div#side_info td.link { font-size: 13px; }
div#footer div#mfoot { font-size: 11px; color: rgb(102, 102, 102); }
div#footer div#mfoot a { color: rgb(102, 102, 102); text-decoration: none; font-weight: normal; }
div#footer div#mfoot a:visited, div#footer div#mfoot a:active { color: rgb(102, 102, 102); }
div#footer div#mfoot a:hover { color: rgb(0, 192, 0); }
div#build.gid16 h4 { font-size: 13px; font-weight: bold; }
div#build.gid16 p.info a { font-weight: bold; font-size: 21px; color: black; }
div#build.gid16 table.troop_details thead a { color: black; }
img, a, div { background-repeat: no-repeat; background-position: left top; }
img.clock { width: 18px; height: 12px; background-image: url('clock.gif'); }
img.r1, img.r2, img.r3, img.r4, img.r5 { height: 12px; width: 18px; background-image: url('res2.gif'); }
img.r1 { background-position: 0pt 0pt; }
img.r2 { background-position: -21px 0pt; }
img.r3 { background-position: -42px 0pt; }
img.r4 { background-position: -63px 0pt; }
img.r5 { background-position: -84px 0pt; }
img.unit { width: 16px; height: 16px; }
img.u1, img.u2, img.u3, img.u4, img.u5, img.u6, img.u7, img.u8, img.u9, img.u10 { background-image: url('v1_romans2.gif'); }
img.uhab, img.ucata, img.ustock, img.uwall, img.ubarr, img.upal, img.ugeb, img.uhero, img.uunits, img.app { background-image: url('specials.gif'); }
img.u1, img.u11, img.u21, img.u31, img.u41, img.u51, img.uhab { background-position: 0pt 0pt; }
img.u2, img.u12, img.u22, img.u32, img.u42, img.u52, img.ucata { background-position: -19px 0pt; }
img.u3, img.u13, img.u23, img.u33, img.u43, img.u53, img.ustock { background-position: -38px 0pt; }
img.u4, img.u14, img.u24, img.u34, img.u44, img.u54, img.uwall { background-position: -57px 0pt; }
img.u5, img.u15, img.u25, img.u35, img.u45, img.u55, img.ubarr { background-position: -76px 0pt; }
img.u6, img.u16, img.u26, img.u36, img.u46, img.u56, img.upal { background-position: -95px 0pt; }
img.u7, img.u17, img.u27, img.u37, img.u47, img.u57, img.ugeb { background-position: -114px 0pt; }
img.u8, img.u18, img.u28, img.u38, img.u48, img.u58, img.uhero { background-position: -133px 0pt; }
img.u9, img.u19, img.u29, img.u39, img.u49, img.u59, img.uunits { background-position: -152px 0pt; }
img.u10, img.u20, img.u30, img.u40, img.u50, img.u60 { background-position: -171px 0pt; }
div#header { background-image: url('mw.gif'); background-repeat: repeat-x; background-position: 0pt -28px; }
div#mid { background-image: url('rand.gif'); background-repeat: repeat-y; background-position: left 0pt; }
div#footer { background-image: url('btm.gif'); background-repeat: repeat-x; }
div#side_navi a:hover { background-image: url('n12.gif'); width: 113px; height: 20px; }
div#side_navi a#logo:hover { background: none repeat scroll 0% 0% transparent; }
div#dynamic_header { background-image: url('dyn_bg1.jpg'); background-position: -80px -50px; }
body.mod1 div#dynamic_header, body.mod2 div#dynamic_header { background-image: none; }
body.mod2 div#dynamic_header div.dyn1 { background-image: url('bigsize_bg.jpg'); background-position: -100px 0pt; }
a#n1 img, a#n2 img, a#n3 img, a#n4 img, div#n5 { background-position: 0pt -21px; background-repeat: no-repeat; height: 67px; width: 70px; }
body.v35 a#n1 img { background-image: url('n1.gif'); }
body.v35 a#n2 img { background-image: url('n2.gif'); }
body.v35 a#n3 img { background-image: url('n3.gif'); }
body.v35 a#n4 img { background-image: url('n4.gif'); }
a#n1:hover img, a#n2:hover img, a#n3:hover img, a#n4:hover img { background-position: 0pt -121px; }
div#n5 img { height: 67px; width: 35px; }
body.v35 div.i4 { background-image: url('m4.gif'); }
img.g16, img.g16b, img.g16n, img.dx1 { width: 69px; height: 120px; }
img.g16 { background-image: url('g16.gif'); }
div#side_navi img.wm_logo { background: url('wm99.gif') no-repeat scroll 0% 0% transparent; width: 33px; height: 33px; position: absolute; left: 103px; top: -21px; }
/* ::::: http://speed.travian.de/img/travian_basics.css ::::: */

