/* ::::: http://speed.travian.de/gpack/travian_basic/lang/de/compact.css?9d4a0 ::::: */

body { text-align: left; direction: ltr; margin: 0pt; background-color: rgb(255, 255, 255); }
img { border: 0pt none; }
h1, h2, span, form, img, li { margin: 0pt; padding: 0pt; }
h1 { margin-bottom: 8px; }
p { margin: 14px 0pt; padding: 0pt; }
#msfilter { width: 1px; height: 1px; position: absolute; z-index: 99; }
div#header { width: 100%; min-width: 980px; height: 67px; }
div#mid { float: left; width: 100%; min-width: 980px; margin-bottom: 15px; }
div#content { float: left; min-height: 450px; position: relative; overflow: hidden; }
div.build { width: 552px; }
div#build { width: 502px; padding: 43px 25px 0pt; }
div#textmenu { margin: 14px 0pt; }
div.clear { clear: both; width: 0pt; height: 0pt; }
table { margin: 0pt; }
td.aligned_coords { width: 84px; padding: 2px 0pt; white-space: nowrap; }
td.aligned_coords div { float: left; }
td.aligned_coords div.cox { width: 38px; text-align: right; }
td.aligned_coords div.pi { width: 8px; text-align: center; }
td.aligned_coords div.coy { width: 38px; text-align: left; }
div#ce { position: fixed; left: 0pt; top: 0pt; z-index: 999; }
div#ltime { width: 220px; height: 15px; position: absolute; top: 42px; left: 5px; z-index: 3; }
div#dynamic_header { width: 100%; min-width: 980px; height: 28px; background-color: rgb(116, 114, 115); overflow: hidden; }
body.mod2 div#dynamic_header { height: 100px; }
body.mod2 div#dynamic_header div.dyn1 { min-width: 900px; width: 100%; height: 100px; }
body.mod2 iframe#ad_iframe { position: absolute; left: 82px; top: 0pt; width: 728px; height: 90px; z-index: 10; }
body.mod2 div#ltime { top: 113px; }
body.mod2 div#res { top: 167px; }
div#mtop { width: 570px; height: 67px; position: relative; left: 231px; top: -7px; }
div#mtop a#n1, div#mtop a#n2, div#mtop a#n3, div#mtop a#n4, div#mtop div#n5 { float: left; padding: 0pt; margin: 0pt; }
div#mtop div#n5 a { float: left; }
div#mtop a#plus { float: left; padding: 0pt; margin-left: 115px; }
div#mtop a#plus span { display: none; }
div#side_navi { float: left; width: 130px; position: relative; }
div#side_navi p { margin: 0pt 0pt 28px; line-height: 20px; }
div#side_navi p a { padding-left: 12px; display: block; }
div#side_info { float: left; padding-left: 10px; padding-top: 5px; position: relative; }
div#footer { width: 100%; clear: both; }
div#footer div#mfoot { width: 812px; padding-top: 15px; padding-bottom: 30px; text-align: center; }
div#footer div#mfoot div.copyright { direction: ltr; }
div#res { left: 130px; height: 20px; position: absolute; top: 100px; width: 552px; z-index: 3; }
div#res table { background-color: rgb(255, 255, 255); margin: auto; width: auto; }
div#res table td { padding: 1px; }
div#res table img { margin-left: 5px; }
div#build a.build_logo img { margin-left: 5px; position: absolute; right: 13px; top: 35px; }
div#build p.build_desc { padding-right: 70px; }
.b { font-weight: bold; }
table { border-collapse: separate; background-color: rgb(192, 192, 192); line-height: 16px; width: 100%; empty-cells: show; }
table td, table th { vertical-align: middle; padding: 0pt; }
table thead th, table tfoot th { background-image: url('c2.gif'); background-repeat: repeat; text-align: center; }
table thead td, table tfoot td { background-color: rgb(243, 243, 243); text-align: center; }
table tbody th, table tbody td { background-color: rgb(255, 255, 255); text-align: left; }
div#side_info table { width: auto; background-color: rgb(255, 255, 255); }
div#side_info table td { padding: 0pt; line-height: 18px; text-align: left; white-space: nowrap; }
div#side_info table thead td { background-color: rgb(255, 255, 255); height: 22px; }
div#side_info td.dot { width: 10px; padding: 0pt 6px; }
div#side_info td.link { padding-right: 10px; }
div#build.gid27 table th, div#build.gid27 table td { padding: 2px 7px; text-align: center; }
div#build.gid27 table#art_details tbody th { width: 35%; }
body { color: rgb(0, 0, 0); font-size: 13px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; }
a { text-decoration: none; font-weight: bold; color: rgb(113, 208, 0); }
a:visited { color: rgb(113, 208, 0); }
a:active { color: rgb(255, 128, 0); }
a:hover { color: rgb(0, 188, 0); }
h1 { font-size: 24px; }
div#header { font-size: 0pt; }
table td, table th { font-weight: normal; font-size: 13px; }
table thead th, table tfoot th { font-weight: bold; }
div#textmenu { font-size: 13px; font-weight: normal; }
.none { color: rgb(192, 192, 192); }
span.plus_g { color: rgb(113, 208, 0); font-weight: bold; }
span.plus_o { color: rgb(255, 111, 15); font-weight: bold; }
div#ltime { color: rgb(102, 102, 102); font-size: 10px; }
div#mtop { font-size: 0pt; }
div#side_navi { font-size: 13px; }
div#side_navi p { font-size: 12px; }
div#side_navi p a { font-weight: normal; color: rgb(0, 0, 0); }
div#side_navi p a:hover { color: rgb(0, 192, 0); }
div#side_info table thead td a { font-weight: bold; color: black; }
div#side_info table tbody td { font-size: 11px; }
div#side_info td.hl { color: rgb(255, 128, 0); }
div#side_info td.link { font-size: 13px; }
div#footer div#mfoot { font-size: 11px; color: rgb(102, 102, 102); }
div#footer div#mfoot a { color: rgb(102, 102, 102); text-decoration: none; font-weight: normal; }
div#footer div#mfoot a:visited, div#footer div#mfoot a:active { color: rgb(102, 102, 102); }
div#footer div#mfoot a:hover { color: rgb(0, 192, 0); }
div#build.gid27 table#art_details td.desc { font-size: 11px; }
div#build.gid27 table#art_details td.desc span.detail { font-style: italic; }
img, a, div { background-repeat: no-repeat; background-position: left top; }
input.dynamic_img, img.dynamic_img { background-position: center top; height: 20px; }
img.r1, img.r2, img.r3, img.r4, img.r5 { height: 12px; width: 18px; background-image: url('res2.gif'); }
img.r1 { background-position: 0pt 0pt; }
img.r2 { background-position: -21px 0pt; }
img.r3 { background-position: -42px 0pt; }
img.r4 { background-position: -63px 0pt; }
img.r5 { background-position: -84px 0pt; }
div#build.gid27 div.artefact { background-position: center bottom; background-repeat: no-repeat; }
div#build.gid27 div.artefact.image-1 { padding-bottom: 160px; background-image: url('type-1.gif'); }
div#side_info table thead td img.tSwitch { width: 13px; height: 13px; }
table#llist img.opened, table#vlist img.opened { background-image: url('opened.gif'); }
div#header { background-image: url('mw.gif'); background-repeat: repeat-x; background-position: 0pt -28px; }
div#mid { background-image: url('rand.gif'); background-repeat: repeat-y; background-position: left 0pt; }
div#footer { background-image: url('btm.gif'); background-repeat: repeat-x; }
div#side_navi a:hover { background-image: url('n12.gif'); width: 113px; height: 20px; }
div#dynamic_header { background-image: url('dyn_bg1.jpg'); background-position: -80px -50px; }
body.mod1 div#dynamic_header, body.mod2 div#dynamic_header { background-image: none; }
body.mod2 div#dynamic_header div.dyn1 { background-image: url('bigsize_bg.jpg'); background-position: -100px 0pt; }
a#n1 img, a#n2 img, a#n3 img, a#n4 img, div#n5 { background-position: 0pt -21px; background-repeat: no-repeat; height: 67px; width: 70px; }
body.v35 a#n1 img { background-image: url('n1.gif'); }
body.v35 a#n2 img { background-image: url('n2.gif'); }
body.v35 a#n3 img { background-image: url('n3.gif'); }
body.v35 a#n4 img { background-image: url('n4.gif'); }
a#n1:hover img, a#n2:hover img, a#n3:hover img, a#n4:hover img { background-position: 0pt -121px; }
div#n5 img { height: 67px; width: 35px; }
body.v35 div.i4 { background-image: url('m4.gif'); }
img.building { width: 75px; height: 100px; }
img.g27 { background-image: url('g27.gif'); }
/* ::::: http://speed.travian.de/gpack/travian_basic/lang/de/lang.css?9d4a0 ::::: */

img#btn_plus { width: 80px; height: 67px; background-image: url('plus.gif'); background-position: 0px -21px; }
div#side_navi a#logo img { width: 116px; height: 60px; background-image: url('travian0.gif'); }
/* ::::: http://speed.travian.de/gpack/travian_redesign/travian.css ::::: */

/* ::::: http://speed.travian.de/gpack/travian_redesign/lang/de/lang.css ::::: */

/* ::::: http://speed.travian.de/gpack/travian_redesign/modules/new_layout_ltr.css ::::: */

body { overflow-y: scroll; }
html, body { height: 100%; }
.wrapper { height: auto ! important; min-height: 100%; position: relative; }
body { background-color: rgb(255, 255, 255); }
#ce { width: 100%; height: 0pt; }
body.mod1 div#dynamic_header div.dyn1, body.mod1 div#dynamic_header div.dyn2, body.mod2 div#dynamic_header div.dyn1, body.mod2 div#dynamic_header div.dyn2, body.mod3 div#dynamic_header div.dyn1, body.mod3 div#dynamic_header div.dyn2 { display: none; }
body.mod2 div#dynamic_header { height: 100px; }
body.mod2 div#dynamic_header #ad_iframe { left: 50%; margin-left: -303px; }
div#dynamic_header, body.mod1 div#dynamic_header, body.mod2 div#dynamic_header, body.mod3 div#dynamic_header { height: 100px; }
div#header { height: 72px; }
div#mtop, body.mod1 div#mtop, body.mod2 div#mtop, body.mod3 div#mtop { height: 72px; left: 50%; margin-left: -241px; z-index: 2; width: 700px; }
a#n1 img, a#n2 img, a#n3 img, a#n4 img, div#n5 { height: 72px; }
div#mtop div#n5 .reports { float: left; }
div#mtop div#n5 .messages { float: right; }
a#logo { display: none; }
div#stime { display: inline; height: 0pt; left: 0pt; top: 0pt; width: 0pt; }
div#ltime, body.mod1 div#ltime, body.mod2 div#ltime, body.mod3 div#ltime { min-width: 980px; left: 0pt; top: 111px; width: 100%; z-index: 1; }
div#ltime div#ltimeWrap { margin: 0pt auto; width: 905px; position: relative; }
div#res, body.mod1 div#res, body.mod2 div#res, body.mod3 div#res { left: 0pt; min-width: 980px; top: 175px; width: 100%; z-index: 2; }
div#resWrap { left: 50%; margin-left: -335px; position: relative; width: 552px; }
div#res table { background-color: transparent; }
div#res table td { background-color: transparent; }
div#mid { background-image: none; float: none; height: auto; margin: 0pt auto; width: 980px; }
div#content, body.mod1 div#content, body.mod2 div#content, body.mod3 div#content { height: auto ! important; min-height: 450px; }
div#side_navi { height: auto ! important; min-height: 453px; width: 155px; }
div#side_info, body.mod1 div#side_info, body.mod2 div#side_info, body.mod3 div#side_info { height: auto ! important; margin-left: 0pt; min-height: 453px; padding-left: 16px; width: 257px; z-index: 3; }
div#side_info td.dot { width: 8px; }
div#side_info td.link { padding-right: 0px; white-space: normal; line-height: 18px; }
div#side_info td { vertical-align: top; }
.footer-stopper { float: left; margin-bottom: 100px; }
div#footer { bottom: 0px; height: 90px; left: 0pt; margin-top: 90px; min-width: 980px; position: absolute; right: 0pt; font-size: 11px; line-height: 19px; }
div#footer div#mfoot { height: 28px; margin: 0pt auto; width: 905px; }
div#footer div.footer-menu { color: rgb(121, 121, 121); text-align: right; }
div#footer div#mfoot { text-align: right; }
div#footer div#mfoot a, div#footer div#mfoot a:visited, div#footer div#mfoot a:active { color: rgb(121, 121, 121); }
div#footer div#mfoot div.copyright { text-align: right; font-size: 11px; }
div#side_info table td {  }
/* ::::: http://speed.travian.de/gpack/travian_redesign/modules/new_colors.css ::::: */

/* ::::: http://speed.travian.de/gpack/travian_redesign/modules/new_images.css ::::: */

.wrapper { background: url('header_background.jpg') repeat-x scroll left top transparent; }
div#footer { background: url('footer_background.gif') repeat-x scroll center top rgb(241, 241, 241); }
div#footer div#mfoot { background: url('footer_logo.gif') no-repeat scroll 0px 21px transparent; }
div#dynamic_header, body.mod1 div#dynamic_header, body.mod3 div#dynamic_header { background: url('artwork1-ltr.jpg') no-repeat scroll center top transparent; }
body.mod2 div#dynamic_header { background: url('artwork2-ltr.jpg') no-repeat scroll center top transparent; }
div#header { background-image: none; }
div#side_navi { background: url('shadow-a-ltr.png') no-repeat scroll right top transparent; margin-top: 30px; }
div#side_navi a:hover { background: url('menu-bg-ltr.gif') no-repeat scroll left top transparent; }
body.v35 a#n1 img { background-image: url('n1-ltr.gif'); }
body.v35 a#n2 img { background-image: url('n2-ltr.gif'); }
body.v35 a#n3 img { background-image: url('n3-ltr.gif'); }
body.v35 a#n4 img { background-image: url('n4-ltr.gif'); }
body.v35 div.i4 { background-image: url('m4-ltr.gif'); }
div#mtop a#plus { background: url('plus_bg.gif') repeat-x scroll 0pt 0px transparent; margin-left: 135px; }
div#mtop a#plus span.plus_text { display: block; background: url('plus_start-ltr.gif') no-repeat scroll left top transparent; height: 29px; padding: 6px 14px; float: left; cursor: pointer; }
div#mtop a#plus span span { display: inline; cursor: pointer; }
div#mtop a#plus { display: block; font-size: 13px; height: 40px; margin-top: 16px; position: relative; }
img#btn_plus { background-position: left top; background-repeat: no-repeat; height: 29px; width: 36px; float: left; }
#plus img.inactive { background-image: url('plus_inactive-ltr.gif'); }
div#side_info, body.mod1 div#side_info, body.mod2 div#side_info, body.mod3 div#side_info { background: url('shadow-b-ltr.png') no-repeat scroll left top transparent; }
